.nav-bar{
    padding: 1rem 2rem;
    text-decoration: underline;
    background-color: black;
    color: white
}
.heading-section{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
}
.logo{
    background-color: black;
    /* display: inline-block; */
    position: absolute;
}
.content-inline{
    display: inline-block;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 19px;
}